div.about--wrapper {
	margin: 80px 14%;
	display: inline-block;
}

.about--row {
	margin: auto;
	display: block;
}

.about--row img {
	height: 200px;
	border-radius: 8px;
}

.about--person {
	float: left;
	margin: 20px 40px;
	width: 200px;
}

.about--row ul li {
	display: inline;
}

.about--text {
	display: inline-block;
	width: 200px;
}

.about--text h4, .about--text p {
	text-align: center;
	line-height: 1.7;
}

.about--text h4 {
	color: #4990e2;
}

/*div.about--row {
	width: 200px;
	display: block;
	clear: right;
}

.about--row ul li, .about--row ul li div {
	list-style: none;
	list-style-type: none;
	display: inline-block;
	float: left;
}

.about--row img {
	height: 200px;
	border-radius: 8px;
}

.about--row li div {
	display: inline-block;
	width: 200px;
	float: left;
}*/
